<h1>Justin Anthony's || Jolly Ant 🐜|| ITIS 3135 </h1>
<nav>
    <a href="./">Home</a>
    <span class="divider">|</span>
    <a href="introduction.html">Introduction</a>
    <span class="divider">|</span>
    <a href="contract.html">Contract</a>
</nav>
<nav>
    <span class="divider">|</span>
    <a href="jollyant/index.html">Jolly Antique's</a>
    <span class="divider">|</span>
    <a href="stuff/GOOFY&goober.html">CRAPPY</a>
    <span class="divider">|</span>
    <a href="website_evaluations.html">Evaluations</a>
    <span class="divider">|</span>
    <a href="hobby/index.html">Hobby</a>
    <span class="divider">|</span>
    <a href="tables.html">HTML Tables</a>
    <span class="divider">|</span>
    <a href="byo_intro.html">BYO Intro</a>
</nav>
<nav>
    <span class="divider">|</span>
    <a href="project_overview.html">Project Overview</a>
    <span class="divider">|</span>
    <a href="project/index.html">Project</a>
    <span class="divider">|</span>
    <a href="slideshow.html">Slideshow</a>
    <span class="divider">|</span>
    <a href="review1.html">Review 1</a>
    <span class="divider">|</span>
    <a href="review2.html">Review 2</a>
    <span class="divider">|</span>
    <a href="drawing.html">Drawing</a>
</nav>

